# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.org/en/latest/deploy.html

[settings]
default = wanda.settings

[deploy:default]
url = http://161.202.176.248:6801
project = wanda
username = scrapyd
password = perodero123$
